.rodape{
    display: flex;
    background: #bfbfbf;
    color: #fbfbfb;
    padding: 1.6rem 5rem;
    align-items: center;
    justify-content: end;
    


}


.item__footer{
    align-items:center;
    font-size: 1rem;
    color:#000;
    font-weight: bold;

}

.footer{
    
    /*position:fixed;*/
    width: 100%;
    height: 5vh;
    bottom: 0;
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    font-size: 1.3rem;
    line-height: 1.5rem;
    /*justify-content: space-evenly;*/
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color:#3707f9;
    

}

.social{

    width:60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;  

}

.whatsapp{
    width:26%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.copyright{
    font-size: 0.9rem;
    margin-right: 1rem;

}

.icones{
    width: 45px;
    height: 45px;
    /*margin: .3rem 0 .3rem 0.5rem;*/
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
   
    
}
