

.footer{
    
    /*position:fixed;*/
    
    
    bottom: 0;
    display: flex;
    
    /*flex-wrap: wrap;*/
    font-size: 1.3rem;
    line-height: 1.5rem;
    /*justify-content: space-evenly;*/
    
    font-weight: bold;
    color:#3707f9;
    

}

.social{

   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    

}

.whatsapp{
    
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
    justify-content: space-between;
    align-items: center;

}

.copyright{
    font-size: 1rem;
    margin-right: 1rem;

}

.icones{
    width: 45px;
    height: 45px;
    /*margin: .3rem 0 .3rem 0.5rem;*/
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
   
    
}

@media screen and (min-width: 0) {

    .footer{
        width:100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

    }

    .social{

        width:100%;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 0rem;
        margin-bottom: 1rem;  
          
    }

    .icones{
        margin-left: 0.7rem;
    }

    
    .whatsapp{

        width:100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        
        
    
    }

    .email{
        font-size: 1.2rem;
    }

    .copyright{

        margin-bottom: 1rem; 
        
    }



}

@media screen and (min-width: 768px) {

    
    .footer{
        
        flex-direction: row;
        flex-wrap: wrap;

    }



}

@media screen and (min-width: 1024px) {
 
    .footer{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        height: 5vh;
        justify-content: space-between;
        align-items: center;

    }

    .social{

        width:60%;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 5rem;  
        
    
    }

    .whatsapp{
        
        
        width:40%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
         
        
    
    }



}